<div class="container">

  <div class="jumbotron">
    <h1>URL Shortener</h1>
    <p>A URL shortener is a Web site which converts long urls to short urls.</p>
    <p>
      <%=link_to "Url Shortener",short_urls_path,class:"btn btn-lg btn-primary"%>
    </p>
  </div>

</div>