<div class="container">

  <div class="jumbotron">
    <h1>URL Shortener</h1>
    <p>A URL shortener is a Web site which converts long urls to short urls.</p>
    <p>
      <a class="btn btn-lg btn-primary" href="#" role="button">Click here to continue &raquo;</a>
    </p>
  </div>

</div>